/* style.css (or your main CSS file) */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Custom utilities */
  .backgroud {
    background: url('../images/weather_bg.png') no-repeat center center;
    background-size: cover;
  }
  .panel{
    background-color: #0d9de7c9;
  }
  .panel-left{
    background-color: #0d9de7c9;    
  }
  .weather-details{
    justify-content: space-between;
  }
  .text-shadow{
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
  }
  .fade-text {
    opacity: 1;
    transition: opacity 2s ease;
  }


}